# Python virtual enviroment
.venv

# .vscode configurations files
.vscode

*.pyc

# Some data files
data/intermediate
data/output/*
!data/output/example/
data/input/*
!data/input/example/

data2
data3
data4

# log file
log
*.log

output.png

*.ipynb

# cache folder
cache