# Python virtual enviroment
.venv

# .vscode configurations files
.vscode

# Some data files
data/intermediate
data/output/*
!data/output/example/
data/input/*
!data/input/example/

data2

# log file
log